.form{
    margin-left: 30%;
}
input{
    width: 50%;
    text-align: center;
    padding: 2%;
    margin-top: 2%;
    font-size: 150%;
    border-radius: 5%;
    border: none;
    background-color: rgb(214, 214, 214);
}
.enviar{
    width: 25%;
    display: block;
    margin-left: 14%;
    margin-top: 3%;
    }
.cadastro{
    text-align: center;
    margin-top: 2%;
    font-size: 200%;
}
.servicesForm{
    display: flex;
    width: 40%;
    margin-top: 15px;
    font-size: 180%;
    text-align: center;
    justify-content: center;
    align-items: center;
    
    
}

@media screen and (max-width: 650px){
    .cadastro{
        font-size: 80%;
    }
    .form{
        margin-left: 5%;
    }
    input{
        width: 90%;
        text-align: center;
        padding: 5px;
        margin-top: 2%;
        font-size: 150%;
        border-radius: 10%;
    }
    .enviar{
        width: 40%;
        display: block;
        margin:auto;
        align-items: center;
        text-align: center;
        align-content: center;
        margin-top: 5%;
    
    }
    .servicesForm{
        width:100%;
        margin-left: 0%;
        display:block;
        margin-top: 15px;
        font-size: 20px;
        align-items: center;
        text-align: center;
    }
}