.Serv{
    display: flex;
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
}
.Serv img{
    width: 50%;
     border-radius: 5%;
}

.buttonpres{
    text-align: center;
    margin-top: 5%;
    font-size: 300%;
    background-color:  black;
    border: 5px gray solid;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 15%;
}
.buttonpres a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 650px) {
    .Serv{
        display: block;
    }
    .Serv img{
        width: 100%;
        border-radius: 5%;
    }
    .buttonpres{
        font-size: 100%;
    }
}